<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>FeelMeal | Meat</title>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.excoloSlider.js"></script>
    <link href="css/jquery.excoloSlider.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body ng-controller="ToDoCtrl">	
     <div id="overlay" class="cover blur-in">

    <header ng-model="firstTag">
    {{firstTag.cname}}
    <a href="#popup3" id="filtermenu"> </a>
    </header>

  <div class="container" id="mCategories">
        <div ng-controller="mealCtrl">
                <article ng-repeat="i in myMeals" class= "holder">
                        <span class="ml">{{i.name}}<span class = "size">{{i.size}}</span></span>   
                        <br><span class="prce">{{i.price}}</span>
                    <img ng-src="{{i.img_url}}">
                    <img ng-src="{{i.like}}" ng-click="func(i.like, i.id, i.counter)" class = "like">
                
                <div class="box1">
                    <a href="#popup1"> <img src="images/ordernow.png" class= "ordern"></a>
                </div>

                <div id="popup1" class="overlay1">
                    <div class="popup2">
                        <section class="ordpop"> Your feels<br>will be ready in</section>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <time id="countdown"></time>
                        </div>
                        <section class="ordpop"> Thanks for ordering <br> FeelMeal</section>
                    </div>
                </div>
                
                </article>
        </div>
        

    <div id="popup3" class="overlay2">
        <div class="popup4">
                <a class="close" href="#">&times;</a>
                <div class="content">
                 <ul class ="hmenu">
                        <li><a href="#"> Favorites </a></li>
                        <li><a href="#"> Familiar &amp; New </a></li>
                        <li><a href="#"> Medium Dishes</a></li>
                    <div class="clear"></div>
                    </ul>
                    <ul class="menutags">
                        <li><a href="#" id="HOT"> HOT </a></li>
                        <li><a href="#" id="MEAT"> MEAT </a></li>
                        <li><a href="#" id="SPICY"> SPICY </a></li>
                        <li><a href="#" id="CARBS"> CARBS </a></li>
                        <li><a href="#" id="HEALTHY"> HEALTHY </a></li>
                        <li><a href="#" id="FRESH"> FRESH </a></li>
                        <li><a href="#" id="Sweets"> SWEET </a></li>
                    </ul>

                </div>
        </div>
    </div>


    </div>
    </div>
    </div>
    </div>




<!--    <div class="row pop-up" >
    <div class="box small-6 large-centered">
    <a class="close2" href="#">&times;</a>
    <ul class ="hmenu">
        <li><a href="#"> Favorites </a></li>
        <li><a href="#"> Familiar &amp; New </a></li>
        <li><a href="#"> Medium Dishes</a></li>
    <div class="clear"></div>
    </ul>
    <ul class="menutags">
        <li><a href="#" id="HOT"> HOT </a></li>
        <li><a href="#" id="MEAT"> MEAT </a></li>
        <li><a href="#" id="SPICY"> SPICY </a></li>
        <li><a href="#" id="CARBS"> CARBS </a></li>
        <li><a href="#" id="HEALTHY"> HEALTHY </a></li>
        <li><a href="#" id="FRESH"> FRESH </a></li>
        <li><a href="#" id="Sweets"> SWEET </a></li>
    </ul>

  </div>
</div> -->
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/todo.js"></script>
    <script>
/*        $(function() {
            $('.pop-up').hide();
            $('#overlay').removeClass('blur-in');

      
          $('#filtermenu').click(function (e) { 
              $('.pop-up').fadeIn();
              $('#overlay').removeClass('blur-out');
              $('#overlay').addClass('blur-in');
              e.stopPropagation();
                
    });
 }); */

    $(function(){
        $('#Sweets').click(changeContS);
        $('#HOT').click(changeContH);
        //$('#MEAT').click(changeCont);
        $('#CARBS').click(changeContC);
        $('#HEALTHY').click(changeContHE);
        $('#FRESH').click(changeContF);
        $('#SPICY').click(changeContSP);

    });
    </script>
</body>
</html>
