<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>FeelMeal | Meat</title>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.excoloSlider.js"></script>
    <link href="css/jquery.excoloSlider.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#sliderA").excoloSlider();
            $("#sliderB").excoloSlider();
            $("#sliderC").excoloSlider();
            $("#sliderD").excoloSlider();
        });
    </script>
</head>
<body ng-controller="ToDoCtrl">	
    <div>
    <header ng-model="firstTag">
    {{firstTag.name}}
    </header>
	<div class="container_12">
		<div class="grid_8" ng-controller="mealCtrl">
			<div id="sliderA" class="slider">
                <article ng-model="firstMeal">
                        <span class="ml">{{firstMeal.name}}<span class = "size">{{firstMeal.size}}</span></span> 
                        
                        <br><span class="prce">{{firstMeal.price}}</span>
                    <img ng-src="{{firstMeal.img_url}}">
                    <img ng-src="{{firstMeal.like}}" ng-click="changebgk()" class = "like">
                </article>
                <article ng-model="scndMeal">
                    <span class="ml">{{scndMeal.name}}<span class = "size">{{scndMeal.size}}</span></span> 
                        
                        <br><span class="prce">{{scndMeal.price}}</span>
                    <img ng-src="{{scndMeal.img_url}}">
                    <img ng-src="{{scndMeal.like}}" class = "like">
                </article>
                <article ng-model="thrdMeal">
                    <span class="ml">{{thrdMeal.name}}<span class = "size">{{thrdMeal.size}}</span></span> 
                        
                        <br><span class="prce">{{thrdMeal.price}}</span>
                    <img ng-src="{{thrdMeal.img_url}}">
                    <img ng-src="{{thrdMeal.like}}" class = "like">
                </article>
                <article ng-model="frthMeal">
                    <span class="ml">{{frthMeal.name}} <span class = "size">{{frthMeal.size}}</span></span> 
                        
                        <br><span class="prce">{{frthMeal.price}}</span>
                    <img ng-src="{{frthMeal.img_url}}">
                    <img ng-src="{{frthMeal.like}}" class = "like">
                </article>

				
				
				
			</div>			
		</div>
	</div>
    <div class="container_12">
        <div class="grid_8" ng-controller="mealCtrl">
            <div id="sliderB" class="slider">
                <img ng-src="{{firstMeal.img_url}}"> 
                <img ng-src="{{scndMeal.img_url}}">
                <img ng-src="{{thrdMeal.img_url}}">
                <img ng-src="{{frthMeal.img_url}}">
            </div>          
        </div>
    </div>
    <div class="container_12">
        <div class="grid_8" ng-controller="mealCtrl">
            <div id="sliderC" class="slider">
                <img ng-src="{{firstMeal.img_url}}"> 
                <img ng-src="{{scndMeal.img_url}}">
                <img ng-src="{{thrdMeal.img_url}}">
                <img ng-src="{{frthMeal.img_url}}">
            </div>          
        </div>
    </div>
    <div class="container_12">
        <div class="grid_8" ng-controller="mealCtrl">
            <div id="sliderD" class="slider">
                <img ng-src="{{firstMeal.img_url}}"> 
                <img ng-src="{{scndMeal.img_url}}">
                <img ng-src="{{thrdMeal.img_url}}">
                <img ng-src="{{frthMeal.img_url}}">
            </div>          
        </div>
    </div>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/todo.js"></script>
</body>
</html>
